.body {
  font-family: 'Roboto', arial, sans-serif;
  width: 15rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.message {
  font-size: 0.75rem;
}

.caption {
  font-size: 0.75rem;
}

.toggleContainer {
  /* hidden until we get the initial value */
  visibility: hidden;
}
